<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <button type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">Tambah Data</button>
        
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama Lembaga</th>
                <th>Kepala Sekolah</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <a href="#">System Architect</a>
                </td>
                <td>Edinburgh</td>
                <td>
                  <a href="#" type="button" class="btn btn-info waves-effect">Edit</a>
                  <button type="button" class="btn btn-danger waves-effect">Hapus</button>
                </td>
              <tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

